%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @user, url: join_path, method: 'post', builder: RegisterFormBuilder, html: { class: "form-horizontal" } do |f|
        = hidden_field_tag :inviter_email, @inviter_email
        %header
          %h1 Join
        %section.error-notice
          = render 'shared/form_errors', obj: @user
        %fieldset
          = f.form_group_tag :email do
            = f.label :email, "Email Address", class: "control-label col-sm-2"
            .col-sm-6
              = f.email_field :email, class: "form-control"
            .col-sm-4
              = f.error_tag :email
          = f.form_group_tag :password do
            = f.label :password, "Password", class: "control-label col-sm-2"
            .col-sm-6
              = f.password_field :password, class: "form-control"
            .col-sm-4
              = f.error_tag :password
          = f.form_group_tag :full_name do
            = f.label :full_name, "Full Name", class: "control-label col-sm-2"
            .col-sm-6
              = f.text_field :full_name, class: "form-control"
            .col-sm-4
              = f.error_tag :full_name
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            = f.submit "Sign Up", class: "btn btn-default"