!!! 5
%html{:lang => "en"}
%body
  %h1 Invitation from #{@inviter.full_name}
  %h4 Dear #{@invitation.name},
  %p= @invitation.message
  %p Click on the link below to join MyFliX!
  %a{:href => "#{url_for(controller: "users", action: "join", token: "#{@invitation.token}", only_path: false)}"} Join Us