%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="#{@video.video_url}") Watch Now
          - unless current_user.has_video_in_queue?(@video)
            = link_to "+ My Queue", queue_items_path(video_id: @video.id), class: "btn btn-default", method: 'post'

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, @review], method: 'post' do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, options_for_select([5,4,3,2,1].map{ |number| [pluralize(number, "Star"), number] }, @review.rating), {}, { class: "form-control" }
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :body, class: "form-control", rows: 6
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="#{user_path(review.author)}">#{review.author.full_name}</a>
              .col-sm-8
                %p= review.body